<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="115.3.13" targetFramework="net48" />
  <package id="cef.redist.x86" version="115.3.13" targetFramework="net48" />
  <package id="CefSharp.Common" version="115.3.130" targetFramework="net48" />
  <package id="CefSharp.OffScreen" version="115.3.130" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="115.3.130" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="dot-net-transitions" version="1.2.1.0" targetFramework="net48" />
  <package id="FerretLib.WinForms" version="0.4" targetFramework="net48" />
  <package id="FuzzySharp" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.55.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.32.1" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1901.177" targetFramework="net48" />
  <package id="MouseKeyHook" version="5.7.1" targetFramework="net48" />
  <package id="MultiPanelControl" version="1.1.6.0" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Syncfusion.BulletGraph.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Calculate.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Calculate.Windows" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Chart.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Chart.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Core.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Data.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.DataGridExport.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.DataSource.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Diagram.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Diagram.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.DocIO.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Edit.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Gauge.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Grid.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Grid.Grouping.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Grid.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.GridExport.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.GridHelperClasses.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Grouping.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.HTMLUI.Base" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.HTMLUI.windows" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Linq.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Maps.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Mime.Base" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Pdf.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.PdfViewer.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.PivotAnalysis.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.PivotChart.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.PivotTable.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Presentation.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.ProjIO.Base" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Schedule.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Schedule.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Scripting.Base" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.SfBarcode.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.SfListView.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.SfSmithChart.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Shared.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.SpellChecker.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Spreadsheet.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Tools.Base" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.Tools.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.TreeMap.Windows" version="22.2.9" targetFramework="net48" />
  <package id="Syncfusion.XlsIO.WinForms" version="22.2.9" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="7.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Permissions" version="7.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="Zoople.HTMLEditor" version="2.8.3.329" targetFramework="net48" />
</packages>